/*styles for home content only*/

:host {
  width: 100%;
  height: 100%;

  #canvas-container {
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;

    #canvas {
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
  }

}
